<%- include('../partials/header') %>

<!-- insert img -->
    <section class="workout-section">
        <h1 class="sub-greeting">Edit This Workout</h1>
        <div class="workout-details">	
            <form method="POST" action="/exercises/<%=exercise._id%>?_method=PUT"> 
                <div class="workout-label">
                    <label for="name">Name: <input value="<%=exercise.name%>" type="text" name="name">
                    </label>
                </div><div class="workout-label">
                    <label for="reps">Reps: <input value="<%=exercise.reps%>" type="number" name="reps" min="0" max="9999">
                    </label>
                </div>
                <div class="workout-label">
                    <label for="sets">Sets: <input value="<%=exercise.sets%>" type="number" name="sets" min="0" max="9999">
                    </label>
                </div>
                <div class="workout-label">
                    <label for="weight">Weight: <input value="<%=exercise.weight%>" type="number" name="weight" min="0" max="9999">
                    </label>
                </div>
                <div class="equipment">
                    <label>Equipment: <input value="<%=exercise.equipment%>" type="text" name="equipment"></label>
                </div>
                <div class="workout-label">
                    <label for="rest">Description: <textarea name="description" rows="10" cols="35"><%= exercise.description %></textarea>
                    </label>
                </div>
                
                <!-- button mods -->
<div class="menu-options">
	<button class="btn btn-secondary">
		<a href="/exercises">Back</a>
	</button>

	<button class="btn btn-secondary" type="submit" value="Save">Save
	</button>
        </form>
        </div>
    </section>
    

</div>

<%- include('../partials/footer') %>

<!-- previous code. saved as a just in case -->
<!-- <section class="container workout-section">
    <h1>Edit your workout</h1>
    <p class="workout-list-format"><%=exercise.name%></p>
    <form method="POST" action="/exercises/<%=exercise._id%>?_method=PUT"> 
        
        <div class="row">
            <label for="name">Name: <input value="<%=exercise.name%>" type="text" name="name">
            </label>
        </div><div class="row">
            <label for="reps">Reps: <input value="<%=exercise.reps%>" type="number" name="reps" min="0" max="9999">
            </label>
        </div>
        <div class="row">
            <label for="sets">Sets: <input value="<%=exercise.sets%>" type="number" name="sets" min="0" max="9999">
            </label>
        </div>
        <div class="row">
            <label for="weight">Weight: <input value="<%=exercise.weight%>" type="number" name="weight" min="0" max="9999">
            </label>
        </div>
        <div class="equipment">
            <label>Equipment: <input value="<%=exercise.equipment%>" type="text" name="equipment"></label>
        </div>
        <div class="row">
            <label for="rest">Description: <textarea name="description" rows="10" cols="35"><%= exercise.description %></textarea>
            </label>
        </div>
        <div class="row">
            
        </div>
</section> -->
