<%- include('../partials/header') %>

<h1>I am the show page</h1>
<!-- (These components will be shown in this page) -->
<div>Exercise:</div>
<div><%= exercise.name%></div>
<% exercise.repset.forEach((set) => { %>
  <p>Description: <%= set.description %></p>
  <p>Sets: <%= set.sets %></p>
  <p>Reps: <%= set.reps %></p>
  <p>Weight: <%= set.weight %></p>
  <p>Equipment: <%= set.equipment %></p>
<% }) %>
</section>
<!-- Edit Link -->
    <a href="/exercises/<%=exercise._id%>/edit">Edit</a>
    <form action="/exercises/<%=exercise._id%>?_method=DELETE" method="POST">
        
    </form>
<!-- Adding performance notes(noteSchema) to exercise._id-->
<h3>Details</h3>


<form action="/exercises/<%=exercise._id%>/notes" method="POST" id="repset">
    <label for="reps">Reps:</label>
    <input type="number" name="repset.reps" min="0" max="9999">
    <br>
    <label for="sets">Sets:</label>
    <input type="number" name="repset.sets" min="0" max="9999">
    <br>
    <label for="weight">Weight:</label>
    <input type="number" name="repset.weight" min="0" max="9999">
    <br>
    <label for="equipment">equipment:</label>
    <input type="text" name="repset.equipment">
    </select>
    <input type="submit" value="Add Notes">
   
    
       
</form>
    <%- include('../partials/footer') %>