<%- include('../partials/header') %>

<h1>I am the show page</h1>

<!-- (These components will be shown in this page) -->
<div>Exercise:</div>
<% if(user){%>
<div><%= exercise.name%></div>
<br>

  <p>What to do: <%=exercise.description%></p>
  <p>How many sets: <%=exercise.sets%></p>
  <p>How many reps: <%=exercise.reps%></p>
  <p>How heavy: <%=exercise.weight%></p>
  <p>What to use: <%=exercise.equipment%></p>
<%}%>
<br>
<br>
<h3><a href="/exercises">I don't want to do this workout</a></h3>
</section>
<!-- Edit Link -->
    <a href="/exercises/<%=exercise._id%>/edit">Edit</a>
    <form action="/exercises/<%=exercise._id%>?_method=DELETE" method="POST">
        
    </form>
<!-- Adding performance notes(noteSchema) to exercise._id-->

    <%- include('../partials/footer') %>