<%- include('../partials/header') %>

<!-- I am the show page -->
<!-- (These components will be shown in this page) -->
<section class="workout-section">
  <h1 class="title-greeting">Lets get to work!</h1>
  <!-- <p> insert img/rdm img gen
    <img src="" alt="">
  </p> -->
  <% if(user){%>
  <div class="posted-workout">
    <%= exercise.name%>
  </div>
  <div class="workout-details">
    <p><span class="workout-label">Instructions:</span> <%=exercise.description%></p>
    <p><span class="workout-label">How many sets:</span> <%=exercise.sets%></p>
    <p><span class="workout-label">How many reps:</span> <%=exercise.reps%></p>
    <p><span class="workout-label">How heavy:</span> <%=exercise.weight%></p>
    <p><span class="workout-label">What to use:</span> <%=exercise.equipment%></p>
    <%}%>
  </div>
  <br />
  <br />

  <div class="menu-options">
    <button class="btn btn-secondary">
      <a href="/exercises">Back</a>
    </button>

    <button class="btn btn-secondary">
      <form action="/exercises/<%=exercise._id%>?_method=DELETE" method="POST">
        <a href="/exercises/<%=exercise._id%>/edit">Edit</a>
      </form>
    </button>

    <button class="btn btn-secondary" type="submit">
      <form action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
        Delete
      </form>
    </button>
  </div>
</section>

<!-- Adding performance notes(noteSchema) to exercise._id-->

<%- include('../partials/footer') %>
