<h3>Details</h3>


<form action="/exercises/<%=exercise._id%>/notes" method="POST" id="repset">
    <label for="reps">Reps:</label>
    <input type="number" name="repset.reps" min="0" max="9999">
    <br>
    <label for="sets">Sets:</label>
    <input type="number" name="repset.sets" min="0" max="9999">
    <br>
    <label for="weight">Weight:</label>
    <input type="number" name="repset.weight" min="0" max="9999">
    <br>
    <label for="equipment">equipment:</label>
    <input type="text" name="repset.equipment">
    </select>
    <input type="submit" value="Add Notes">
   
        <tbody>
          <% let total = 0 %>
          <% exercise.repset.forEach(function(r) { %>
            <tr>
                <!-- User -->
              <td class="note-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                <!-- Exercise -->
              <td><%= r.exercise.name %></td>
                <!-- Reps -->
              <td><%= r.repset.rep %></td>
                <!-- Sets -->
              <td><%= r.repset.set %></td>
                <!-- Weight -->
                <td><%= r.repset.weight %></td>
                <!-- Equipment -->
                <td><%= r.repset.equipment %></td>
              <td>
                <% if (user?._id.equals(r.user)) { %>
                <!-- Delete Button -->
                  <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                  </form>
                
              </td>
            </tr>
        </tbody>
      </table>
    <%  }else { %>
      <h5>No History</h5>
    <% }}) %>
</form>